* {
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
  line-height: 1.6rem;
  font-family: "Roboto", san-serif;
}

.header {
  height: 120px;
  background-image: linear-gradient(-180deg, #f53d2d, #f63);
}
.header__navbar {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.header__navbar-list {
  padding: 0;
}
.header__navbar-icon-link {
  color: #fff;
  padding: 0 3px;
}
.header__navbar-item {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  display: inline-block;
  margin: 0 8px;
  position: relative;
}
.header__navbar-item:hover:not(:nth-child(2)), .header__navbar-item-link:hover, .header__navbar-item .header__navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.header__navbar-item--hasNotify:hover .header__notify {
  display: block;
}
.header__navbar-item-link {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}
.header__navbar-item:nth-child(1):hover .header__qr {
  display: block;
}
.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  border-left: 1px solid #fb9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}
.header__navbar-item .header__qr {
  width: 185px;
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  z-index: 999;
  display: none;
  animation: fadeIn ease-in 0.3s;
}
.header__navbar-item .header__qr-img {
  width: 100%;
}
.header__navbar-item .header__qr-apps {
  display: flex;
  justify-content: space-around;
}
.header__navbar-item .header__qr-store {
  width: 35%;
  margin-left: 11px;
}
.header__navbar-item .header__qr-chplay {
  width: 40%;
  margin-right: 11px;
}
.header__navbar-item .header__qr::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 20px;
  top: -5px;
  left: 0;
  background-color: red;
  opacity: 0;
}
.header__navbar-user {
  justify-items: space-around;
  line-height: 1.5rem;
}
.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(5px);
}
.header__navbar-user-name {
  margin-left: 8px;
}
.header__navbar-user-menu {
  position: absolute;
  padding: 0;
  top: 145%;
  right: 0;
  box-shadow: 0 1px 3px #b6b5b5;
  background-color: #fff;
  border-radius: 2px;
  list-style: none;
  display: none;
  width: 150px;
  z-index: 1;
}
.header__navbar-user-menu::after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -20px;
  left: 70%;
}
.header__navbar-user-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 75%;
  height: 20px;
  background-color: #000;
  opacity: 0;
  z-index: 5;
}
.header__navbar-user-item a {
  padding: 8px 16px;
  display: block;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 400;
  color: #000;
}
.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.header__navbar-user-item a:hover {
  color: #33dac3;
  background-color: #fafafa;
}
.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}
.header__navbar-item-bold {
  font-weight: 400;
}
.header__navbar .header__notify {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  width: 40.4rem;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  transform-origin: 90% top;
  animation: headerNotifyGrowth ease-in 0.2s;
  display: none;
  z-index: 999;
}
.header__navbar .header__notify-header {
  height: 4rem;
  background-color: #fff;
}
.header__navbar .header__notify-header h3 {
  color: #999;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 12px;
}
.header__navbar .header__notify-list {
  padding-left: 0;
}
.header__navbar .header__notify-item {
  display: flex;
}
.header__navbar .header__notify-item--viewed {
  background-color: rgba(255, 75, 43, 0.1);
}
.header__navbar .header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}
.header__navbar .header__notify-link:hover {
  background-color: #f7f7f7;
}
.header__navbar .header__notify-img {
  width: 48px;
  object-fit: contain;
  border-radius: 4px;
}
.header__navbar .header__notify-info {
  margin-left: 12px;
}
.header__navbar .header__notify-name {
  display: block;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
}
.header__navbar .header__notify-desc {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  line-height: 1.6rem;
}
.header__navbar .header__notify-footer {
  text-align: center;
  padding: 8px 16px;
}
.header__navbar .header__notify-footer-btn {
  text-decoration: none;
  color: #333;
}
.header__navbar .header__notify::after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -20px;
  left: 90%;
}
.header__navbar .header__notify::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 22%;
  height: 20px;
  background-color: #000;
  opacity: 0;
}
@keyframes headerNotifyGrowth {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.header .header-with-search {
  width: 100%;
  height: 67.64px;
  display: flex;
  align-items: center;
}
.header .header-with-search .header__mobile--search {
  font-size: 2.6rem;
  color: #fff;
  display: none;
}
.header .header-with-search .header__logo {
  width: 150px;
  padding-left: 17px;
  margin-right: 60px;
}
.header .header-with-search .header__logo--img {
  width: 150px;
}
.header .header-with-search .header__search {
  flex: 1;
  display: flex;
  border-radius: 2px;
  height: 40px;
  background-color: #fff;
  align-items: center;
  z-index: 21;
}
.header .header-with-search .header__search--input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  display: inline-block;
  font-size: 1.4rem;
  color: #333;
  padding: 0 16px;
  border-radius: 2px;
}
.header .header-with-search .header__search--input:focus ~ .header__search--history {
  display: block;
}
.header .header-with-search .header__search--input-wrap {
  height: 100%;
  flex: 1;
  display: flex;
  position: relative;
}
.header .header-with-search .header__search--input-wrap .header__search--history {
  position: absolute;
  display: none;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  z-index: 4;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px #b6b5b5;
}
.header .header-with-search .header__search--input-wrap .header__search--history-heading {
  margin: 10px 16px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
}
.header .header-with-search .header__search--input-wrap .header__search--history-list {
  padding: 0;
  list-style: none;
  margin: 6px 0 0;
  overflow: hidden;
}
.header .header-with-search .header__search--input-wrap .header__search--history-item {
  height: 38px;
  padding: 0 16px;
}
.header .header-with-search .header__search--input-wrap .header__search--history-item a {
  display: block;
  line-height: 38px;
  text-decoration: none;
  font-size: 1.4rem;
  color: #333;
}
.header .header-with-search .header__search--input-wrap .header__search--history-item:hover {
  background-color: #fafafa;
}
.header .header-with-search .header__search--btn {
  height: 36px;
  margin: 3px;
  padding: 0 22px;
  border-radius: 3px;
  background-color: #f53d2d;
}
.header .header-with-search .header__search--btn > i {
  margin-top: 3px;
  color: #fff;
  font-size: 1.4rem;
}
.header .header-with-search .header__cart {
  width: 150px;
  position: relative;
  text-align: center;
}
.header .header-with-search .header__cart--icon {
  color: #fff;
  font-size: 2.4rem;
  margin-top: 6px;
}
.header .header-with-search .header__cart--notice {
  position: absolute;
  padding: 0px 6px;
  background-color: #fff;
  color: #f53d2d;
  font-size: 1.3rem;
  border: 2px solid #f53d2d;
  border-radius: 10px;
  top: 0;
  transform: translateX(-10px);
}
.header__sort--bar {
  margin: 0 auto;
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  height: 46px;
  list-style: none;
  padding-left: 0;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  z-index: 20;
  display: none;
}
.header .header__sort--item {
  flex: 1;
}
.header .header__sort--item--active {
  border-bottom: 1px solid #f53d2d;
}
.header .header__sort--item--active > .header__sort--link {
  color: #f53d2d !important;
}
.header .header__sort--item .header__sort--link {
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  display: block;
  height: 100%;
  line-height: 46px;
  position: relative;
  text-align: center;
}
.header .header__sort--item .header__sort--link::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  height: 60%;
  border-left: 1px solid #e5e5e5;
}
.header .header__sort--item:first-child .header__sort--link::after {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
  width: 500px;
  margin: auto;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  z-index: 1;
}
.modal .auth-form {
  width: 500px;
}
.modal .auth-form__container {
  padding: 20px 32px;
}
.modal .auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}
.modal .auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: #333;
}
.modal .auth-form__switch-btn {
  font-size: 1.6rem;
  color: #f53d2d;
  font-weight: 500;
  cursor: pointer;
}
.modal .auth-form__form {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 16px;
}
.modal .auth-form__group {
  padding-top: 16px;
}
.modal .auth-form__input {
  width: 94%;
  height: 40px;
  padding: 0 12px;
  font-size: 1.4rem;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #999;
}
.modal .auth-form__aside {
  margin-top: 18;
}
.modal .auth-form__policy-text {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}
.modal .auth-form__policy-link {
  text-decoration: none;
  color: #f53d2d;
}
.modal .auth-form__help {
  display: flex;
  justify-content: flex-end;
}
.modal .auth-form__help--separate {
  display: block;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0 16px;
  height: 20px;
}
.modal .auth-form__help--forgot {
  color: #f53d2d;
  font-weight: 500;
}
.modal .auth-form__help--need {
  color: #939393;
}
.modal .auth-form__help-link {
  text-decoration: none;
  font-size: 1.3rem;
}
.modal .auth-form__controls {
  margin-top: 80px;
  justify-content: flex-end;
  display: flex;
}
.modal .auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.modal .auth-form__socials-icon {
  font-size: 1.8rem;
}
.modal .auth-form__socials-label {
  margin: 0 32px;
}
.modal .auth-form__socials-facebook {
  color: #fff;
  background-color: #3a5a98;
}
.modal .auth-form__socials-facebook .modal .auth-form__socials-facebook-icon {
  color: #fff;
  background-color: #3a5a98;
}
.modal .auth-form__socials-google {
  color: #333;
  background-color: #fff;
}

.btn {
  min-width: 142px;
  height: 36px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0 12px;
  cursor: pointer;
  outline: none;
  color: #333;
  background-color: #fff;
  display: finline-lex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.btn--size-s {
  height: 30px;
  font-size: 1.2rem;
  padding: 0 8px;
}
.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.btn--primary {
  background-color: #f53d2d;
  color: #fff;
}
.btn--disable {
  color: #949494;
  cursor: default;
  background-color: #c3c3c3;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.app__container {
  padding-top: 20px;
  background-color: #f5f5f5;
}
.app__container .app__content {
  padding: 20px;
}
.app__container .category {
  background-color: #fff;
  border-radius: 2px;
}
.app__container .category__heading {
  font-size: 1.6rem;
  border-radius: 2px;
  color: #333;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.app__container .category__heading--icon {
  font-size: 1.4rem;
  margin-right: 4px;
}
.app__container .category__list {
  padding: 15px 0;
  list-style: none;
}
.app__container .category__list .category__item--active .category__item--link {
  color: #f53d2d;
}
.app__container .category__list .category__item--active .category__item--link::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(calc(-50% - 1px));
  border: 4px solid;
  border-color: transparent transparent transparent #f53d2d;
}
.app__container .category__list .category__item--link {
  padding: 10px 16px 10px 26px;
  font-size: 1.4rem;
  display: block;
  color: #333;
  position: relative;
  text-decoration: none;
  transition: right linear 0.2s;
  right: 0;
}
.app__container .category__list .category__item--link:hover {
  right: -4px;
  color: #f53d2d;
}
.app__container .mobile-category {
  display: none;
}
.app__container .mobile-category__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;
}
.app__container .mobile-category__item {
  flex-shrink: 0;
  margin-right: 10px;
}
.app__container .mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
  background-color: #87AFD8;
}
.app__container .mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
  background-color: #76C9BD;
}
.app__container .mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
  background-color: #88CF81;
}
.app__container .mobile-category__link {
  --lineHeight: 2rem;
  margin: auto;
  display: block;
  width: 108px;
  height: calc(var(--lineHeight) * 2);
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-clamp: 2;
  font-size: 1.4rem;
  line-height: var(--lineHeight);
  text-align: center;
  border-radius: 4px;
}
.app__container .home-filter {
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  padding: 12px 22px;
  border-radius: 2px;
  align-items: center;
  justify-content: space-between;
}
.app__container .home-filter__choose {
  display: flex;
  align-items: center;
}
.app__container .home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}
.app__container .home-filter__btn {
  min-width: 90px;
}
.app__container .home-filter .select-input {
  padding: 0 12px;
  height: 34px;
  margin-left: 6px;
  min-width: 200px;
  background-color: #fff;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.app__container .home-filter .select-input > i {
  font-size: 1rem;
}
.app__container .home-filter .select-input__label {
  font-size: 1.4rem;
}
.app__container .home-filter .select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  list-style: none;
  top: calc(100% + 2px);
  background-color: #fff;
  border-radius: 2px;
  padding: 8px 16px;
  display: none;
  z-index: 99;
}
.app__container .home-filter .select-input__link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #333;
  padding: 6px 0;
  display: block;
  transition: color linear 0.1s;
}
.app__container .home-filter .select-input__link:hover {
  color: #f53d2d;
}
.app__container .home-filter .select-input:hover .select-input__list {
  display: block;
}
.app__container .home-filter__page {
  display: flex;
  align-items: center;
}
.app__container .home-filter__page--current {
  color: #f53d2d;
}
.app__container .home-filter__page--num {
  font-size: 1.4rem;
  color: #333;
  margin-right: 18px;
}
.app__container .home-filter__page--control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}
.app__container .home-filter__page--btn {
  flex: 1;
  width: 36px;
  height: 36px;
  align-items: center;
  display: flex;
  background-color: #fff;
  text-decoration: none;
}
.app__container .home-filter__page--btn-prev {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.app__container .home-filter__page--btn > i {
  margin: 0 auto;
  font-size: 1rem;
  color: #333;
}
.app__container .home-filter__page--btn-disable {
  opacity: 0.5;
}
.app__container .home-product {
  margin: 4px;
}
.app__container .home-product__item {
  background-color: #fff;
  margin-top: 10px;
  display: block;
  text-decoration: none;
  position: relative;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.2;
  will-change: transform;
}
.app__container .home-product__item--img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.app__container .home-product__item--price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.app__container .home-product__item--price-old {
  margin-left: 10px;
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
}
.app__container .home-product__item--price-current {
  margin-left: 10px;
  font-size: 1.6rem;
  color: #f53d2d;
  margin-left: 4px;
}
.app__container .home-product__item--name {
  font-size: 1.4rem;
  font-weight: 400;
  color: #333;
  line-height: 1.8rem;
  margin: 10px;
  height: 3.6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app__container .home-product__item--action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0;
}
.app__container .home-product__item--action .home-product__item--like {
  position: relative;
  font-size: 1rem;
  top: 2px;
}
.app__container .home-product__item--action .home-product__item--like-icon-fill {
  color: #f53d2d;
  display: none;
}
.app__container .home-product__item--action .home-product__item--like-liked .home-product__item--like-icon-fill {
  display: inline-block;
}
.app__container .home-product__item--action .home-product__item--like-liked .home-product__item--like-icon-empty {
  display: none;
}
.app__container .home-product__item--action .home-product__item--rating {
  font-size: 0.7rem;
  color: #dbdbdb;
}
.app__container .home-product__item--action .home-product__item--rating-text {
  margin-left: 2px;
  font-size: 1.1rem;
  position: relative;
  color: #333;
  margin-left: 4px;
  top: 2px;
}
.app__container .home-product__item--action .home-product__item--rating .home-product__item--star-gold {
  color: #ffce3e;
}
.app__container .home-product__item--origin {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
  padding-bottom: 8px;
  font-size: 1.1rem;
  color: #595959;
  font-weight: 300;
}
.app__container .home-product__item--favourite {
  position: absolute;
  top: 10px;
  left: -3px;
  color: #fff;
  background-color: #f53d2d;
  font-size: 1rem;
  padding: 0 5px;
  line-height: 1.5rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-weight: 500;
}
.app__container .home-product__item--favourite::before {
  content: "";
  position: absolute;
  bottom: -4.6px;
  left: 0;
  border-width: 2.4 px;
  border-style: solid;
  filter: brightness(60%);
  border-color: #f53d2d #f53d2d transparent transparent;
}
.app__container .home-product__item--sale {
  position: absolute;
  top: 0.4px;
  right: 0.4px;
  width: 40px;
  height: 36px;
  text-align: center;
  background-color: rgba(255, 216, 64, 0.94);
}
.app__container .home-product__item--sale-percent {
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.2rem;
  position: relative;
  top: 4px;
}
.app__container .home-product__item--sale-label {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1rem;
  position: relative;
  top: 4px;
}
.app__container .home-product__item--sale::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  border-width: 0 20px 5px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}
.app__container .home-product__item:hover {
  transform: translateY(-1.5px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.app__container .home-product--pagination {
  margin-top: 56px;
  margin-bottom: 32px;
}
.app__container .pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
}
.app__container .pagination__item {
  margin: 0 12px;
}
.app__container .pagination__item--link {
  color: #939393;
  text-decoration: none;
  font-size: 1.6rem;
  min-width: 40px;
  font-weight: 300;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
}
.app__container .pagination__item--active .pagination__item--link {
  color: #fff;
  background-color: #f53d2d;
}

.footer {
  border-top: 3px solid #f53d2d;
  background-color: #fbfbfb;
}
.footer__border {
  border-top: 1px solid #d6d4d4;
}
.footer__space {
  background-color: #fff;
  height: 105px;
}
.footer__heading {
  margin-top: 25px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #535353;
}
.footer__list {
  padding-left: 0;
  padding-top: 16px;
  list-style: none;
}
.footer__list .footer__item {
  padding: 5px 0;
}
.footer__list .footer__item--link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  transition: color linear 0.1s;
  will-change: color;
  display: flex;
  align-items: center;
}
.footer__list .footer__item--link:hover {
  color: #f53d2d;
}
.footer__list .footer__item--icon {
  font-size: 1.7rem;
  margin-top: -1px;
  margin-right: 8px;
}
.footer__download {
  display: flex;
  margin-top: 17px;
}
.footer__download--qr {
  width: 80px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.footer__download--apps {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__download--apps .footer__download--chplay {
  height: 16px;
}
.footer__download--apps .footer__download--appstore {
  height: 18px;
}
.footer__download--apps .footer__download--gall {
  height: 15px;
}
.footer__download--apps-link {
  text-decoration: none;
}
.footer__bottom {
  margin-top: 32px;
  padding: 12px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer__bottom .footer__text {
  font-size: 1.3rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
