// Base Variable
$whiteColor: #fff;
$blackColor: #000;
$textColor: #333;
$primaryColor: #f53d2d;
$headerHeight: 120px;
$navbarHeight: 52.36px;
$headerWithSearchHeight: calc($headerHeight - $navbarHeight);
$defaultFont: 'Roboto', san-serif;


* {
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
    line-height: 1.6rem;
    font-family: $defaultFont;
}

@mixin fontSizeColorAndWeith() {
    font-size: 1.5rem;
    color: $whiteColor;
    font-weight: 300;
}



.header {
    height: $headerHeight;
    background-image: linear-gradient(-180deg,#f53d2d,#f63);
    &__navbar {
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: space-between;
        &-list {
            padding: 0;
        }
        &-icon-link {
            color: $whiteColor;
            padding: 0 3px;
        }
        &-item {
            @include fontSizeColorAndWeith();
            display: inline-block;
            margin: 0 8px;
            position: relative;
            &:hover:not(:nth-child(2)), &-link:hover, .header__navbar-icon-link:hover{
                color: rgba(255, 255, 255, 0.7);
                cursor: pointer;
            }
            &--hasNotify:hover .header__notify{
                display:block;
            }
            &-link {
                @include fontSizeColorAndWeith();
                text-decoration: none;
            }
            &:nth-child(1):hover .header__qr {
                display: block;

            }
            &--separate::after {
                content: "";
                display: block;
                position: absolute;
                height: 12px;
                border-left: 1px solid #fb9086;
                right: -9px;
                top: 50%;
                transform: translateY(-50%);
            }
            .header__qr {
                width: 185px;
                position: absolute;
                left: 0;
                top: calc(100% + 5px);
                padding: 10px;
                background-color: $whiteColor;
                border-radius: 3px;
                z-index: 999;
                display: none;
                animation: fadeIn ease-in 0.3s;
                &-img {
                    width: 100%;
                }
                &-apps {
                    display: flex;
                    justify-content: space-around;
                }
                &-store {
                    width: 35%;
                    margin-left: 11px;
                }
                &-chplay {
                    width: 40%;
                    margin-right: 11px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 120%;
                    height: 20px;
                    top: -5px;
                    left: 0;
                    background-color: red;
                    opacity: 0;
                }
            }
        }
        &-user {
            justify-items: space-around;
            line-height: 1.5rem;
            &-img {
                width: 22px;
                height: 22px;
                border-radius: 50%; 
                display: inline-block;
                transform: translateY(5px);
            }
            &-name {
                margin-left: 8px;
            }
            &-menu {
                position: absolute;
                padding: 0;
                top : 145%;
                right: 0;
                box-shadow: 0 1px 3px rgb(182, 181, 181);
                background-color: $whiteColor;
                border-radius: 2px;
                list-style: none;
                display: none;
                width: 150px;
                z-index: 1;
                &::after {
                    content: "";
                    position: absolute;
                    border: 10px solid transparent;
                    border-bottom: 10px solid $whiteColor;
                    top: -20px;
                    left: 70%;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    right: 0;
                    width: 75%;
                    height: 20px;
                    background-color: #000;
                    opacity: 0;
                    z-index: 5;
                }
            }
            &-item {
                & a {
                    padding: 8px 16px;
                    display: block;
                    font-size: 1.4rem;
                    text-decoration: none;
                    font-weight: 400;   
                    color: $blackColor;
                    &:last-child {
                        border-bottom-left-radius: 2px;
                        border-bottom-right-radius: 2px;
                    }
                    &:first-child {
                        border-top-left-radius: 2px;
                        border-top-right-radius: 2px;
                    }
                    &:hover {
                        color: #33dac3;
                        background-color: #fafafa;
                    }
                }
            }
            &:hover &-menu {
                display: block;
            }
        }
        &-item-bold {
            font-weight: 400;
        }
        .header__notify { 
            position: absolute;
            top: calc(100% + 1rem); 
            right: 0;
            width: 40.4rem;
            background-color: $whiteColor;
            border: 1px solid #d3d3d3;
            transform-origin: 90% top;
            animation: headerNotifyGrowth ease-in 0.2s;
            display: none;
            z-index: 999;
            &-header {
                height: 4rem;
                background-color: $whiteColor;
                h3 {
                    color: #999;
                    margin-bottom: 12px;
                    font-weight: 400;
                    font-size: 1.4rem;
                    padding: 12px;
                }
            }
            &-list {
                padding-left: 0;
    
            }
            &-item {
                display: flex;
                &--viewed {
                    background-color: rgba(255, 75, 43, 0.1);
                }
            }
            &-link {
                display: flex;
                padding: 12px;
                text-decoration: none;
                width: 100%;
    
                &:hover {
                    background-color: #f7f7f7;
                }
            }
            &-img {
                width: 48px;
                object-fit: contain;
                border-radius: 4px;
            }
            &-info {
                margin-left: 12px;
            }
            &-name {
                display: block;
                color: $blackColor;
                font-size: 1.4rem;
                font-weight: 400;
            }
            &-desc {
                display: block;
                font-size: 1.2rem;
                color: #756f6e;
                line-height: 1.6rem;
            }
            &-footer {
                text-align: center;
                padding: 8px 16px;
                &-btn {
                    text-decoration: none;
                    color: $textColor;
                }
            }
            &::after {
                content: "";
                position: absolute;
                border: 10px solid transparent;
                border-bottom: 10px solid $whiteColor;
                top: -20px;
                left: 90%;
            }
            &::before {
                content: "";
                position: absolute;
                top: -10px;
                right: 0;
                width: 22%;
                height: 20px;
                background-color: #000;
                opacity: 0 ;
            }
        }
        @keyframes headerNotifyGrowth{
            from {
                transform: scale(0);
            }
            to {
                transform: scale(1);
            }
        }    
    }
    .header-with-search {
        width: 100%;
        height: $headerWithSearchHeight;
        display: flex;
        align-items: center;
        .header__mobile--search {
            font-size: 2.6rem;
            color: $whiteColor;
            display: none;
        }
        & .header__logo {
            width: 150px;
            padding-left: 17px;
            margin-right: 60px;
            &--img {
                width: 150px;
            }
        }
        & .header__search {
            flex: 1;
            display: flex;
            border-radius: 2px;
            height: 40px;
            background-color: $whiteColor;
            align-items: center;
            z-index: 21;
            &--input {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                display: inline-block;
                font-size: 1.4rem;
                color: $textColor;
                padding: 0 16px;
                border-radius: 2px;
                &:focus ~ .header__search--history {
                    display: block;
                }
                &-wrap {
                    height: 100%;
                    flex: 1;
                    display: flex;
                    position: relative;
                    .header__search--history {
                        position: absolute;
                        display: none;
                        top: calc(100% + 2px);;
                        left: 0;
                        width: 100%;
                        z-index: 4;
                        border-radius: 3px;
                        background-color: $whiteColor;
                        box-shadow: 0 1px 3px rgb(182, 181, 181);
                        &-heading {
                            margin: 10px 16px;
                            font-size: 1.4rem;
                            font-weight: 400;
                            color: #999;
                        }
                        &-list {
                            padding: 0;
                            list-style: none;
                            margin: 6px 0 0;
                            overflow: hidden;
                        }
                        &-item {
                            height: 38px;
                            padding: 0 16px;
                            &  a {
                                display: block;
                                line-height: 38px;
                                text-decoration: none;
                                font-size: 1.4rem;
                                color: $textColor;
                            }
                            &:hover {
                                background-color: #fafafa;
                            }
                        }
                    }
                }
            }
            &--btn {
                height: 36px;
                margin: 3px;
                padding: 0 22px;
                border-radius: 3px;
                background-color: $primaryColor;
                & > i {
                    margin-top: 3px;
                    color: $whiteColor;
                    font-size: 1.4rem;
                }
            }
        }
        & .header__cart {
            width: 150px;
            position: relative;
            text-align: center;
            &--icon {
                color: $whiteColor;
                font-size: 2.4rem;
                margin-top: 6px;
            }
            &--notice {
                position: absolute;
                padding: 0px 6px;
                background-color: $whiteColor;
                color: $primaryColor;
                font-size: 1.3rem;
                border: 2px solid $primaryColor;
                border-radius: 10px;
                top: 0;
                transform: translateX(-10px);
            }
        }
    }
        &__sort--bar {
            margin: 0 auto;
            position: fixed;
            top: 90px;
            left: 0;
            right: 0;
            height: 46px;
            list-style: none;
            padding-left: 0;
            background-color: $whiteColor;
            border-bottom: 1px solid #e5e5e5;
            border-top: 1px solid #e5e5e5;
            z-index: 20;
            display: none;
        }
        .header__sort--item {
            flex: 1;
            &--active {
                border-bottom: 1px solid $primaryColor;
                & > .header__sort--link {
                    color: $primaryColor!important;
                }
            }
            .header__sort--link {
                text-decoration: none;
                color: $textColor;
                font-size: 1.3rem;
                display: block;
                height: 100%;
                line-height: 46px;
                position: relative;
                text-align: center;
                &::after {
                    content: "";
                    position: absolute;
                    top: 025%;
                    left: 0;
                    height: 60%;
                    border-left: 1px solid #e5e5e5;
                }
            }
            &:first-child .header__sort--link::after {
                display: none;
            }
    }
}

// Authen Modal
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    &__body {
        width: 500px;
        margin: auto;
        position: relative; 
        background-color: $whiteColor;
        border-radius: 5px;
        z-index: 1;
    }
    .auth-form {
        width: 500px;
        &__container {
            padding: 20px 32px;
        }
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 12px;
            margin-top: 10px;
        }
        &__heading {
            font-size: 2.2rem;
            font-weight: 400;
            color: $textColor;
        }
        &__switch-btn {
            font-size: 1.6rem;
            color: $primaryColor;
            font-weight: 500;
            cursor: pointer;
        }
        &__form {
            width: 100%;
            margin-top: 32px;
            margin-bottom: 16px;
        }
        &__group {
            padding-top: 16px;
        }
        &__input {
            width: 94%;
            height: 40px;
            padding: 0 12px;
            font-size: 1.4rem;
            display: inline-block;
            border-radius: 2px;
            border: 1px solid #999;
        }
        &__aside {
            margin-top: 18;
        }
        &__policy {
            &-text {
                font-size: 1.2rem;
                text-align: center;
                font-weight: 500;
            }
            &-link {
                text-decoration: none;
                color: $primaryColor;
            }
        }
        &__help {
            display: flex;
            justify-content: flex-end;
            &--separate {
                display: block;
                border-left: 1px solid rgba(0, 0, 0, 0.05);
                margin: 0 16px;
                height: 20px;
            }
            &--forgot {
                color: $primaryColor;
                font-weight: 500;
            }
            &--need {
                color: #939393;
            }
            &-link {
                text-decoration: none;
                font-size: 1.3rem;
            }
            
        }
        &__controls {
            margin-top: 80px;
            justify-content: flex-end;
            display: flex;
        }
        &__socials {
            background-color: #f5f5f5;
            padding: 16px 32px;
            display: flex;
            justify-content: space-between;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            &-icon {
                font-size: 1.8rem;
            }
            &-label {
                margin: 0 32px;
            }
            &-facebook {
                color: $whiteColor;
                background-color: #3a5a98;
                & &-icon {
                    color: $whiteColor;
                    background-color: #3a5a98;
                }
            }
            &-google {
                color: $textColor;
                background-color: $whiteColor;
            }
        }
    }
}

.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    cursor: pointer;
    outline: none;
    color: $textColor;
    background-color: $whiteColor;
    display: finline-lex;
    justify-content: center;
    align-items: center;
    &--size-s {
        height: 30px;
        font-size: 1.2rem;
        padding: 0 8px;
    }
    &--normal:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
    margin: 0 5px;
    &--primary {
        background-color: $primaryColor;
        color: $whiteColor;
    }
    &--disable {
        color: #949494;
        cursor: default;
        background-color: #c3c3c3;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.app__container {
    padding-top: 20px;
    background-color: #f5f5f5;
    .app__content {
        padding: 20px;
    }
    .category {
        background-color: $whiteColor;
        border-radius: 2px;
        &__heading {
            font-size: 1.6rem;
            border-radius: 2px;
            color: $textColor;
            padding: 12px 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            &--icon {
                font-size: 1.4rem;
                margin-right: 4px;
            }
        }
        &__list {
            padding: 15px 0;
            list-style: none;
            .category__item {
                &--active {
                    .category__item--link {
                        color: $primaryColor;
                        &::before {
                            content: "";
                            position: absolute;
                            left: 16px;
                            top: 50%;
                            transform: translateY(calc(-50% - 1px));
                            border: 4px solid;
                            border-color: transparent transparent transparent $primaryColor;
                        }
                    }
                }
                &--link {
                    padding: 10px 16px 010px 26px;
                    font-size: 1.4rem;
                    display: block;
                    color: $textColor;
                    position: relative;
                    text-decoration: none;
                    transition: right linear 0.2s;
                    right: 0;
                    &:hover {
                        right: -4px;
                        color: $primaryColor;
                    }
                }
            }
        }
    }
    .mobile-category {
        display: none;
        &__list {
            display: flex;
            list-style: none;
            padding-left: 0;
            max-width: 100%;
            overflow-x: auto;
        }
        &__item {
            flex-shrink: 0;
            margin-right: 10px;
            &:nth-of-type(3n + 1) .mobile-category__link {
                background-color: #87AFD8;
            }
            &:nth-of-type(3n + 2) .mobile-category__link {
                background-color: #76C9BD;
            }
            &:nth-of-type(3n + 3) .mobile-category__link {
                background-color: #88CF81;
            }
        }
        &__link {
            --lineHeight: 2rem;
            margin: auto;
            display: block;
            width: 108px;
            height: calc(var(--lineHeight) * 2);
            text-decoration: none;
            overflow: hidden;
            color: $whiteColor;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-box-clamp: 2;
            font-size: 1.4rem;
            line-height: var(--lineHeight);
            text-align: center;
            border-radius: 4px;
        }
    }
    .home-filter {
        background-color: rgba(0, 0, 0, 0.04);
        display: flex;
        padding: 12px 22px;
        border-radius: 2px;
        align-items: center;
        justify-content: space-between;
        &__choose {
            display: flex;
            align-items: center;
        }
        &__label {
            font-size: 1.4rem;
            color: #555;
            margin-right: 16px;
        }
        &__btn {
            min-width: 90px;
        }
        .select-input {
            padding: 0 12px;
            height: 34px;
            margin-left: 6px;
            min-width: 200px;
            background-color: $whiteColor;
            border-radius: 2px;
            display: inline-flex;
            align-items: center;
            position: relative;
            justify-content: space-between;
            & > i {
                font-size: 1rem;
            }
            &__label {
                font-size: 1.4rem;
            }
            &__list {
                position: absolute;
                left: 0;
                right: 0;
                list-style: none;
                top: calc(100% + 2px);
                background-color: $whiteColor;
                border-radius: 2px;
                padding: 8px 16px;
                display: none;
                z-index: 99;
            }
            &__link {
                text-decoration: none;
                font-size: 1.4rem;
                color: $textColor;      
                padding: 6px 0;
                display: block;
                transition: color linear 0.1s;
                &:hover {
                    color: $primaryColor;
                }
            }
            &:hover .select-input__list {
                display: block;
            }
        }
        &__page {
            display: flex;
            align-items: center;
            &--current {
                color: $primaryColor;
            }
            &--num {
                font-size: 1.4rem;
                color: $textColor;
                margin-right: 18px;
            }
            &--control {
                border-radius: 2px;
                overflow: hidden;
                display: flex;
                width: 72px;
                height: 36px;
            }
            &--btn {
                flex: 1;
                width: 36px;
                height: 36px;
                align-items: center;
                display: flex;
                background-color: $whiteColor;
                text-decoration: none;
                &-prev {
                    border-right: 1px solid rgba(0, 0, 0, 0.05);
                }
                & > i {
                    margin: 0 auto;
                    font-size: 1rem;
                    color: $textColor;
                }
                &-disable {
                    opacity: 0.5;
                }
            }
        }
    }
    .home-product {
        margin: 4px;
        &__item {
            background-color: $whiteColor;
            margin-top: 10px;
            display: block;
            text-decoration: none;
            position: relative;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,0.1);
            transition: transform linear 0.2;
            will-change: transform;
            &--img {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                position: relative;
            }
            &--price {
                display: flex;
                align-items: baseline;
                flex-wrap: wrap;
                &-old {
                    margin-left: 10px;
                    font-size: 1.4rem;
                    color: #666;
                    text-decoration: line-through;
                }
                &-current {
                    margin-left: 10px;
                    font-size: 1.6rem;
                    color: $primaryColor;
                    margin-left: 4px;
                }
            }
            &--name {
                font-size: 1.4rem;
                font-weight: 400;
                color: $textColor;
                line-height: 1.8rem;
                margin: 10px;
                height: 3.6rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &--action {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px 10px 0;
                .home-product__item--like {
                    position: relative;
                    font-size: 1rem;
                    top: 2px;
                }
                .home-product__item--like-icon-fill {
                    color: $primaryColor;
                    display: none;
                }
                .home-product__item--like-liked {
                    & .home-product__item--like-icon-fill {
                        display: inline-block;
                    }
                    & .home-product__item--like-icon-empty {
                        display: none;
                    }
                }
                .home-product__item--rating {
                    font-size: 0.7rem;
                    color: #dbdbdb;
                    &-text {
                        margin-left: 2px;
                        font-size: 1.1rem;
                        position: relative;
                        color: $textColor;
                        margin-left: 4px;
                        top: 2px;
                    }
                    .home-product__item--star-gold {
                        color: #ffce3e;
                    }
                }
            }
            &--origin {
                display: flex;
                justify-content: space-between;
                margin: 6px 10px 0;
                padding-bottom: 8px;
                font-size: 1.1rem;
                color: #595959;
                font-weight: 300;
            }
            &--favourite {
                position: absolute;
                top: 10px;
                left: -3px;
                color: $whiteColor;
                background-color: $primaryColor;
                font-size: 1rem;
                padding: 0 5px;
                line-height: 1.5rem;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                font-weight: 500;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -4.6px;
                    left: 0;
                    border-width: 2.4   px;
                    border-style: solid;
                    filter: brightness(60%);
                    border-color: $primaryColor $primaryColor transparent transparent;
                }
            }
            &--sale {
                position: absolute;
                top: 0.4px;
                right: 0.4px;
                width: 40px;
                height: 36px;
                text-align: center;
                background-color: rgba(255, 216, 64, 0.94);
                &-percent {
                    color: #ee4d2d;
                    font-weight: 600;
                    font-size: 1.2rem;
                    position: relative;
                    top: 4px;
                }
                &-label {
                    color: $whiteColor;
                    font-weight: 600;
                    font-size: 1.2rem;
                    line-height: 1rem;
                    position: relative;
                    top: 4px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    border-width: 0 20px 5px;
                    border-style: solid;
                    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
                }
            }
            &:hover {
                transform: translateY(-1.5px);
                box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
            }
        }
        &--pagination {
            margin-top: 56px;
            margin-bottom: 32px;
        }
    }
    .pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-left: 0;
        &__item {
            margin: 0 12px;
            &--link {
                color: #939393;
                text-decoration: none;
                font-size: 1.6rem;
                min-width: 40px;
                font-weight: 300;
                height: 30px;
                display: block;
                text-align: center;
                line-height: 30px;
                border-radius: 2px;
            }
            &--active .pagination__item--link{
                color: $whiteColor;
                background-color: $primaryColor;
            }
        }
    }
}

.footer {
    border-top: 3px solid $primaryColor;
    background-color: #fbfbfb;
    &__border {
        border-top: 1px solid rgb(214, 212, 212);
    }
    &__space {
        background-color: $whiteColor;
        height: 105px;
    }
    &__heading {
        margin-top: 25px;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 500;
        color: rgb(83, 83, 83);
    }
    &__list {
        padding-left: 0;
        padding-top: 16px;
        list-style: none;
        .footer__item {
            padding: 5px 0;
            &--link {
                
                text-decoration: none;
                font-size: 1.2rem;
                color: #737373;
                transition: color linear 0.1s;
                will-change: color;
                display: flex;
                align-items: center;
                &:hover {
                    color: $primaryColor;
                }
            }
            &--icon {
                font-size: 1.7rem;
                margin-top: -1px;
                margin-right: 8px;
            }
        }
    }
    &__download {
        display: flex;
        margin-top: 17px;
        &--qr {
            width: 80px;
            border: 1px solid rgba(0,0,0, 0.05);
        }
        &--apps {
            margin-left: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .footer__download--chplay {
                height: 16px;
            }
            .footer__download--appstore {
                height: 18px;
            }
            .footer__download--gall {
                height: 15px;
            }
            &-link {
                text-decoration: none;
            }
        }
    }
    &__bottom {
        margin-top: 32px;
        padding: 12px 0;
        border-top: 1px solid rgba(0,0,0, 0.1);
        .footer__text {
            font-size: 1.3rem;
            text-align: center;
        }
    }
}
